/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --brand: #191919;
  --action: #F7F6F3;
  --white: #ffffff;
  --base-light: #D3D3D3;
  --base-dark: #2F3437;
  --black: #111111;
}

 /* CSS Reset */

 html {
   box-sizing: border-box;
   font-size: 24px;
   font-family: "Segoe UI", sans-serif;
   color: var(--brand);
   scroll-behavior: smooth;
 }

 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: "Segoe UI", sans-serif;
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ol,
 ul {
   margin: 0;
   padding: 0;
   display:block
 }

 ol,
 ul {
   list-style: none;
 }

 input,
 button,
 textarea,
 select {
   font: inherit;
 }

.project-text{
  padding: 7px;
  border:#111111 2px solid;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

.profile-image{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-image img {
  height: 250px;
}

 /* header */
header .mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 @media (min-width: 768px) {
   header {
      display: flex;
      padding: 100px;
      justify-content: space-between;
      align-items: center;
   }

   header nav ul {
      display: flex;
      gap: 24px;
      margin-right: 16px;
   }

   header .mobile-header .hamburger-icon {
      display: none;
   }
 }

/* .logo */
.logo {
  height: 50px;
}


 @media (min-width: 768px) {
   .logo {
      height: 100px;
   }
 }

/* .mobile-nav */
.mobile-nav {
  display: none;
}

.mobile-nav a {
  text-decoration: none;
  color: var(--black);
  display: block;
  padding: 4px 16px;
}

/* .desktop-nav */
.desktop-nav {
  display: none;
}

 @media (min-width: 768px) {
   .desktop-nav a {
      text-decoration: none;
      font-size: larger;
      color: var(--black);
   }
 
   .desktop-nav {
      display: inline-block;
   }
 }

/* .hamburger-icon  */
.hamburger-icon {
  height: 50px;
}

/* .hero */
.hero-image {
  height: 75px;
}

.hero {
  background-color: var(--brand);
  padding: 56px 16px;
  border-radius: 10px;
  margin: 5px 10px;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 24px;
  color: var(--white);
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  color: var(--white);
}

.hero .hero-accent {
  color: var(--action);
}

 @media (min-width: 768px) {
   .hero {
      padding: 120px 56px;
   }
 
   .hero h1 {
      font-size: 3.5rem;
      max-width: 70%;
   }
 }
 
 /* .articles-container  */
 @media (min-width: 768px) {
   .articles-container {
    display: flex;
   }
 }

/* .article */
.article {
  padding: 32px 16px;
  border-radius: 10px;
  margin: 5px 10px;
  transition: all 0.3s ease;
  text-align: justify;
}

article:hover {
  filter: contrast(150%);
}

 article .article-heading {
   display: flex;
   justify-content: flex-start;
 }

article .icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

article .article-heading h2 {
  margin-bottom: 16px;
  color: var(--base-dark);
}

article p {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

 @media (min-width: 768px) {
    .article {
      max-width: 60%;
      margin: 10px auto;
    }

    .article h2{
    text-align: center;
    font-size: 2.5rem; /* sizing factor */
    padding: 7px;
    margin: 10px;
  }
 }

/* .contact-form */
.contact-form {
  padding: 48px 16px;
  border-radius: 10px;
  margin: 5px 10px;
}

.contact-form input,
.contact-form select {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.contact-form textarea {
  display: block;
  width: 100%;
  padding: 8px;
}

.contact-form label {
  display: block;
  width: 100%;
}

.contact-form h2 {
  color: var(--base-dark);
  margin-bottom: 16px;
}

.contact-form input[type="submit"] {
  background-color: var(--action);
  border: 0;
  margin-top: 8px;
  cursor: pointer;
}

 @media (min-width: 768px) {
   .contact-form h2 {
      text-align: center;
      font-size: 2.5rem;
   }
 
   .contact-form form {
      max-width: 60%;
      margin: 40px auto;
   }
 }


/* footer */
footer {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.socials-icon {
  width: 40px;
  height: 40px;
}

 @media (min-width: 768px) {
   footer {
      justify-content: center;
   }
 
   footer .socials-icon {
      margin-left: 20px;
      margin-right: 20px;
   }
 }